name: Container Watchdog

on:
  schedule:
    - cron: '*/5 * * * *'
  push:
    branches: [ main ]

jobs:
  monitor-and-restart:
    runs-on: self-hosted

    steps:
      - name: Check if container is running
        id: check
        shell: powershell
        run: |
          # بررسی می‌کند کانتینر در حال اجراست یا نه
          $container = docker inspect -f '{{.State.Running}}' 478d06b51702 2>$null
          if ($container -eq "true") {
            echo "container_was_running=0" >> $env:GITHUB_OUTPUT
          } else {
            echo "container_was_running=1" >> $env:GITHUB_OUTPUT
          }

      - name: Restart container if stopped
        if: steps.check.outputs.container_was_running == '1'
        shell: powershell
        run: |
          echo "Container is not running! Starting it now..."
          docker start -ai 478d06b51702
          echo "Container started successfully."
